<%- include('header'); -%>
<!-- can put css here -->
<link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <div id='wrapper'>
        <a href="#" class="button loginItem facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="#" class="button loginItem twitter"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a href="#" class="button loginItem google"><i class="fab fa-google-plus-square"></i> Google</a>
        <form action="" method="post">
            <input type="text" name="" id="" placeholder="Username" class="loginItem">
            <input type="text" name="" id="" placeholder="Password" class="loginItem">
            <button type="submit" class="loginItem">Login</button>
        </form>
        <a href="#" class="button loginItem signUp">Sign up :D</a>
    </div>
</body>

<%- include('footer'); -%>