<%- include('header'); -%>

<section id='title'>
    <div>
        <span class="titleContainer"><span class="titleFirst">F</span><span class="titleChild">ood</span></span><span
            class="titleFirst">T</span><span class="titleChild">rack</span>
    </div>
</section>
<section id='registerWrapper' class='wrapper'>
    <div class="center intro">The purpose of this app is to track food that you ate and lists everything you ate within
        a day
        if
        'REACTION' button is pressed, which means that something you ate within a day caused a reaction. Can
        also be used as a food tracker if you have undiscovered food reaction</div>
    <form action="/register" method="post">
        <div class="labelContainer spaceBetween wrap">
            <div class="w-50">
                <label for="allergies">Do you have any allergies? </label>
            </div>
            <div class="center w-50">
                <input type="radio" name="allergies" value="yes"> Yes
                <input type="radio" name="allergies" value="no"> No
                <input type="radio" name="allergies" value="maybe"> Not that I know of 🤔
            </div>
        </div>
        <div class="labelContainer spaceBetween noMargin">
            <div class="w-50 missing"><%=message%></div>
            <div class="w-50"><span class="required">*<span>required</span></span></div>
        </div>
        <div class="labelContainer spaceBetween">
            <label for="name" class="w-50">Name<span class="required">*</span></label>
            <input type="text" name="name" id="name" class="w-50 regInputContainer" placeholder="Name">
        </div>
        <div class="labelContainer spaceBetween">
            <label for="username" class="w-50">Username<span class="required">*</span></label>
            <input type="text" name="username" id="username" class="w-50 regInputContainer" placeholder="Username">
        </div>
        <div class="labelContainer spaceBetween wrapPass">
            <div class="w-50">
                <label for="password" class="block">Password<span class="required">*</span></label>
                <input type="password" class="block regInputContainer w-95" name="password"
                    placeholder="Password">
            </div>
            <div class="w-50">
                <label for="Confirm Password" class="block">Confirm Password<span class="required">*</span></label>
                <input type="password" class="block w-100 regInputContainer" name="confirmPassword"
                    placeholder="Confirm Password">
            </div>
        </div>
        <div class="center intro" id='message'></div>
        <div class='regParent'>
            <button type="submit" class="register" id="signUp" value="Register">Sign up 😁</button>
        </div>
    </form>
</section>

<script src="/scripts/validation.js"></script>
<%- include('footer'); -%>