* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    /* background: lightblue url("/images/beach-blur-close-up-949215.jpg") no-repeat fixed center; */
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor:pointer;
}

@media screen and (min-width: 1200px) {
    body {
        background-size: cover;
    }
}


@media screen and (min-width: 450px) {
    #wrapper {
        border: 0px solid transparent;
        border-radius: 5px;
        box-shadow: 0px 0px 50px 2px rgb(83, 93, 99);
        background-color: rgba(240, 248, 255, 0.384);
        max-width: 450px;
        margin: 10% auto;
    }
}

@media screen and (max-width: 450px) {
    #wrapper {
        margin: 40% auto;
        box-shadow: 0px 0px 50px 2px rgb(83, 93, 99);
        background-color: rgba(240, 248, 255, 0.658);
    }
}