#wrapper {
    padding: 2.5em 0 1em;
    text-align: center;
}

.loginForm {
    margin: 10% auto 0;
    width: 80%;
}

.loginItem {
    width: 80%;
    margin: 6px auto;
    display: block;
    border-radius: 5px;
    border: 0px solid transparent;
    position: relative;
    text-align: center;
}

.loginInput,
button.loginItem {
    margin: 4px auto;
    width: 100%;
}

.loginInput {
    height: 34px;
    font-size: .8em;
}



a.facebook {
    background-color: rgb(60, 90, 153);
    color: white;
    border-left: 4px solid rgb(27, 48, 92);
    border-bottom: 1px solid rgb(27, 48, 92);
}

a.twitter {
    background-color: rgb(56, 161, 243);
    color: white;
    border-left: 4px solid rgb(22, 115, 187);
    border-bottom: 1px solid rgb(22, 115, 187);
}

a.google {
    background-color: rgb(221, 75, 57);
    color: white;
    border-left: 4px solid rgb(139, 23, 8);
    border-bottom: 1px solid rgb(139, 23, 8);
}

a.signUp {
    background-color: rgb(233, 236, 44);
    margin-top: 10px;
    color: black;
    border-left: 4px solid rgb(178, 180, 47);
    border-bottom: 1px solid rgb(178, 180, 47);
    letter-spacing: 1px;
}

button.login {
    background-color: rgb(150, 146, 146);
    color: white;
    border-left: 4px solid rgb(109, 106, 106);
    border-bottom: 1px solid rgb(109, 106, 106);
    letter-spacing: 1px;
}